<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consoles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-consoles-link">
                <a href="{% url 'products' %}?category=consoles&platform=snes" class="dropdown-item">SNES</a>
                <a href="{% url 'products' %}?category=consoles&platform=n64" class="dropdown-item">N64</a>
                <a href="{% url 'products' %}?category=consoles&platform=gameboy_color" class="dropdown-item">Gameboy Color</a>
                <a href="{% url 'products' %}?category=consoles&platform=psp" class="dropdown-item">PSP</a>
                <a href="{% url 'products' %}?category=consoles&?platform=psp" class="dropdown-item">All Consoles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-games-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-games-link">
                <a href="{% url 'products' %}?category=games&platform=snes" class="dropdown-item">SNES</a>
                <a href="{% url 'products' %}?category=games&platform=gameboy" class="dropdown-item">Gameboy</a>
                <a href="{% url 'products' %}?category=games&platform=gameboy_color" class="dropdown-item">Gameboy Color</a>
                <a href="{% url 'products' %}?category=games&?platform=playstation2" class="dropdown-item">All Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-equipment/misc-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment/Miscellaneous
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-other-link">
                <a href="{% url 'products' %}?category=other&platform=snes" class="dropdown-item">SNES</a>
                <a href="{% url 'products' %}?category=other&?platform=playstation2" class="dropdown-item">All Equipments/Miscellaneous</a>
            </div>
        </li>
    </ul>
</div>