{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}

<hr>
<h2 class="logo-font mb-4">{% trans "Sign In" %}</h2>
<hr>
<div class="container-fluid d-flex justify-content-center align-items-center auth-container push-big-height">
  <div class="row border rounded-3 bg-white">
      <div class="card-body border">
          <div class="mb-1">
              <h2 class="card-title">{% trans "Login" %}</h2>
              <hr class="w-50 mb-2">
              <p>{% blocktrans %}If you have not created an account yet, then please register
                  <a class="text-decoration-none login-text" href="{{ signup_url }}">here</a> first.{% endblocktrans %}
              </p>
          </div>
          <div class="mb-3">
              <form class="login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <a class="btn btn-outline-dark" href="{% url 'home' %}">Home</a>
                  <button class="btn btn-outline-dark" type="submit">{% trans "Login" %}</button>
                  <p class="mt-2">
                      <a class="button secondaryAction small text-decoration-none login-text" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                  </p>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}
