{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<hr>
<h2 class="logo-font mb-4">{% trans "Change Password" %}</h2>
<hr>
<div class="container-fluid d-flex justify-content-center align-items-center auth-container">
    <div class="row border rounded-3">
        <div class="card-body border rounded-3 bg-white">
            <div class="mb-1">
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
