{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <hr>
    <h2 class="logo-font mb-4">{% trans "Change Password" %}</h2>
    <hr>
    
    <div class="container-fluid d-flex justify-content-center align-items-center auth-container">
        <div class="row border rounded-3">
            <div class="card-body border rounded-3 bg-white">
                <div class="mb-1">
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" name="action">{% trans "Change Password" %}</button>
                    </form>
    
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
